<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EvidenSecure - Sign Up</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <h2>Sign Up</h2>
            
            <!-- Full Name -->
            <div class="input-field">
                <input type="text" name="name" required>
                <label>Full Name</label>
            </div>
            
            <!-- Role -->
            <div class="input-field">
                <input type="text" name="role" required>
                <label>Role</label>
            </div>
            
            <!-- Email -->
            <div class="input-field">
                <input type="email" name="email" required>
                <label>Email Address</label>
            </div>
            
            <!-- Password -->
            <div class="input-field">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

           <!-- Department -->
           <div class="input-field">
            <input type="text" name="contact_number" required>
            <label>Contact Number</label>
        </div>
            
            <!-- Department -->
            <div class="input-field">
              <input type="text" name="department" required>
              <label>Department</label>
          </div>
            
            <!-- Badge Number -->
            <div class="input-field">
                <input type="text" name="badge_number" required>
                <label>Badge Number</label>
            </div>
            
            <button type="submit">Sign Up</button>
            
            <div class="register">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </form>
    </div>
</body>
</html>
